.wrap{
	width:600px; 
	margin:auto; 
	background:#FFDAB9; 
	padding:10px;	
	border-radius:10px;	
}		
h1{	
	width:90%;
	text-align:center;
	padding:10px;
	color: white;
	background: #FF7F50;
}
pre{
	width:90%;
	text-align:center;
	color: white;
	font-size: 18px;
	font-weight: 200;
	padding:10px;
	border-radius:10px;
	}
